@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    body {
        margin-bottom: 60px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: transparent;
        color: #E5E0FF;
        background-image: url(@Model._images[Model._random.Next(0, Model._imagesLen)]);
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
    }
</style>


<div class="text-center">
    <h1 class="display-4" style="margin-top: 10vw;">Message in the bottle</h1>
    <p>Here you can send a message to a stranger once in 24 hours and receive one from someone</p>

    <br>
    <br>

    @if (Model.Request.Cookies["sendDate"] == null || 
     86400 < (DateTime.Now.Ticks / 10000000)
     - (Convert.ToDateTime(Model.Request.Cookies["sendDate"]).Ticks / 10000000))
{
    <form asp-page-handler="Post">
        <input type="text" name="msg" autocomplete="off"/>
        <input type="submit" value="Send"/>
    </form>
    <br>
    <br>
}
    @if(Model.Request.Cookies["retrievedMessage"] != null)
    {
        <h1>@Model.Request.Cookies["retrievedMessage"]</h1>
        <h1 id="countdown" class="countdown"></h1>
    }
</div>



<script>
    var countDownDate = 
    new Date("@Convert.ToDateTime(Model.Request.Cookies["sendDate"]).Month.ToString() 
    @Convert.ToDateTime(Model.Request.Cookies["sendDate"]).Day.ToString(), 
    @Convert.ToDateTime(Model.Request.Cookies["sendDate"]).Year.ToString() 
    @Convert.ToDateTime(Model.Request.Cookies["sendDate"]).TimeOfDay.ToString()").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = now - countDownDate;

        // Time calculations for days, hours, minutes and seconds
        var hours = 23 - Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = 59 - Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = 59 - Math.floor((distance % (1000 * 60)) / 1000);

        if(hours < 10)
            hours = "0" + hours.toString();
        if(minutes < 10)
            minutes = "0" + minutes.toString();
        if(seconds < 10)
            seconds = "0" + seconds.toString();


        // Display the result in the element with id="demo"
        document.getElementById("countdown").innerHTML = (hours + ":"
            + minutes + ":" + seconds);

    }, 1000);

</script>
